# TypeScript
tsconfig.tsbuildinfo
*.d.ts

# GraphQL
packages/paradeigma-graphql/introspection.json

# Ace CDN
apps/paradeigma-web-app/public/code-editor/*

# Next JS
.vercel
apps/**/.next/
apps/**/out/

# Yarn
.yarn
/.pnp*